@import './../../assets/scss/_variable';
@import './../../assets/scss/_mixin';

#about {
    .about-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 90px 0;
        @include flex-position(flex-start, flex-start);

        .about-video-wrapper {
            flex-basis: 40%;
            position: relative;
            width: 100%;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                max-height: 100% !important;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $orange;
                font-size: 70px;
                box-shadow: 0 0 35px 10px $orange;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:992px) {
    #about {
        .about-wrapper {
            padding: 0 0 70px 0;
            @include flex-position(flex-start, flex-start, column);
        }
    }
}